<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo-32.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/assets/images/logo.svg">
    <link rel="apple-touch-icon" href="/assets/images/logo-180.png">

    <!-- Font Preloading -->
    <link rel="preload" href="/assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/assets/css/site.css">

    <script>
        (() => {
            let theme = localStorage.getItem('theme')?.trim()?.toLowerCase() ?? '';
            if (theme !== 'dark' && theme !== 'light') {
                theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <!-- Open Graph Tags -->
    {% capture openGraphTitle %}JonCorey.Dev: {{ title }}{% endcapture %}
    {% if title == "JonCorey.Dev" %}
        {% assign openGraphTitle = "JonCorey.Dev" %}
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ openGraphTitle }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://joncorey.dev{{ openGraphImage | default: "/assets/images/card.png" }}">
    <meta property="og:image:alt" content="{{ openGraphAlt | default: "JonCorey.Dev: useful tools, easy to use." }}">
    <meta property="og:url" content="https://joncorey.dev{{ page.url }}">

    <!-- Twitter / X -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{ openGraphTitle }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="https://joncorey.dev{{ openGraphImage | default: "/assets/images/card.png" }}">
    <meta property="twitter:image:alt" content="{{ openGraphAlt | default: "JonCorey.Dev: useful tools, easy to use." }}">
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="/assets/images/logo.svg" alt="">
            <span>JonCorey.Dev</span>
        </a>
        <nav>
            <a href="/tools">Tools</a>
        </nav>
        <button type="button" class="icon-only-button" aria-label="Toggle Theme" onclick="toggleTheme()">
            <svg class="icon light-only" viewBox="0 0 24 24"><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454l0 .008" /></svg>
            <svg class="icon dark-only" viewBox="0 0 24 24"><path d="M8 12a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
        </button>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <hr>
        <span>&copy; JonCorey.Dev {{ "now" | date: "%Y" }}</span>
        <br>
        <a href="/privacy-policy">Privacy Policy</a>
    </footer>

    <script src="/assets/js/app.js" defer></script>
    {% if eleventy.env.runMode == "build" %}
    {% comment %} Register the analytics only in production builds.{% endcomment %}
    <!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "cb6db2a317644f1593ff9555206d94ea"}'></script><!-- End Cloudflare Web Analytics -->
    {% endif %}
</body>
</html>