/* Fonts */

@font-face {
    font-family: "Atkinson Hyperlegible Next";
    src: url("/assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2") format("woff2");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

/* App */

:root, [data-theme="light"] {
    /* Global */
    font-size: 16px;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: normal;
    line-height: 1.5;

    --color-primary-muted: #005f80;
    --color-primary: #006889;
    --color-primary-highlight: #007192;

    --border-radius: 0.5rem;
    --border: 1px solid var(--color-border);

    --transition-duration: 0.1s;
    --transition-timing-function: ease-in-out;

    --max-width: 1200px;

    /* Light Theme Colors */
    --color-bg-muted-light: #ebebeb;
    --color-bg-light: #f5f5f5;
    --color-bg-highlight-light: #ffffff;

    --color-text-muted-light: #44484d;
    --color-text-light: #13161a;
    --color-text-highlight-light: #000000;

    --color-text-accent-muted-light: var(--color-primary-muted);
    --color-text-accent-light: var(--color-primary);
    --color-text-accent-highlight-light: var(--color-primary-highlight);

    --color-border-light: #b9bec4;
    --color-border-highlight-light: #7c8186;

    /* Dark Theme Colors */
    --color-bg-muted-dark: #020306;
    --color-bg-dark: #13161a;
    --color-bg-highlight-dark: #2a2e33;

    --color-text-muted-dark: #dedede;
    --color-text-dark: #eeeeee;
    --color-text-highlight-dark: #ffffff;

    --color-text-accent-muted-dark: #009cbe;
    --color-text-accent-dark: #0ea6c8;
    --color-text-accent-highlight-dark: #25afd2;

    --color-border-dark: #2a2e33;
    --color-border-highlight-dark: #44484d;

    /* Light Theme */
    color-scheme: light;

    --color-bg-muted: var(--color-bg-muted-light);
    --color-bg: var(--color-bg-light);
    --color-bg-highlight: var(--color-bg-highlight-light);

    --color-text-muted: var(--color-text-muted-light);
    --color-text: var(--color-text-light);
    --color-text-highlight: var(--color-text-highlight-light);

    --color-text-accent-muted: var(--color-text-accent-muted-light);
    --color-text-accent: var(--color-text-accent-light);
    --color-text-accent-highlight: var(--color-text-accent-highlight-light);

    --color-border: var(--color-border-light);
    --color-border-highlight: var(--color-border-highlight-light);
}

[data-theme="dark"] {
    /* Dark Theme */
    color-scheme: dark;

    --color-bg-muted: var(--color-bg-muted-dark);
    --color-bg: var(--color-bg-dark);
    --color-bg-highlight: var(--color-bg-highlight-dark);

    --color-text-muted: var(--color-text-muted-dark);
    --color-text: var(--color-text-dark);
    --color-text-highlight: var(--color-text-highlight-dark);

    --color-text-accent-muted: var(--color-text-accent-muted-dark);
    --color-text-accent: var(--color-text-accent-dark);
    --color-text-accent-highlight: var(--color-text-accent-highlight-dark);

    --color-border: var(--color-border-dark);
    --color-border-highlight: var(--color-border-highlight-dark);
}

[data-theme="dark"] .light-only {
    display: none;
}

[data-theme="light"] .dark-only, :root:not([data-theme]) .dark-only {
    display: none;
}

/* Layout */

html, body {
    background-color: var(--color-bg-muted);
    color: var(--color-text);
    word-break: break-word;

    margin: 0;
    padding: 0;
}

main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;
}

* {
    box-sizing: border-box;
}

/* Header */

header {
    max-width: var(--max-width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

header .logo, header .logo:hover, header .logo:active {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.75rem;
    line-height: 1;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 360px) {
    header .logo {
        font-size: 1.25rem;
    }
}

@media (max-width: 300px) {
    header {
        grid-template-columns: 1fr auto;
    }

    header .logo {
        grid-column: span 2;
    }

    header nav {
        justify-self: end;
    }
}

header .logo img {
    height: 2rem;
    width: 2rem;
}

header nav a {
    color: var(--color-text);
    text-decoration: none;
}

header nav a:hover {
    color: var(--color-text-highlight);
}

header nav a:active {
    color: var(--color-text-muted);
}

/* Footer */

footer {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
    color: var(--color-text-muted);
    text-align: center;
}

footer hr {
    margin-block-end: 0.5rem;
}

footer a {
    color: var(--color-text-muted);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-text);
}

footer a:active {
    color: var(--color-text-muted);
}

/* Hero */

.hero {
    padding: 2rem;
    background-image: url("/assets/images/hero-background.svg"), linear-gradient(225deg, var(--color-bg-highlight-dark) 0%, var(--color-bg-dark) 100%);
    background-size: 1200px, cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-text-highlight-dark);
    border-radius: var(--border-radius);
}

.hero h1 {
    font-size: clamp(2.5rem, 10vw, 4rem);
    max-width: 14ch;
    margin-block-start: 0.5rem;
    margin-block-end: 1.5rem;
    line-height: 1.1;
    font-weight: 600;
    color: var(--color-text-highlight-dark);
}

.hero p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 60ch;
    margin-block: 1rem;
}

/* Tool Info */

.tool-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-block: 2rem;
}

.tool-info.featured-tool {
    margin-block-start: 0;
}

.tool-info img {
    border-radius: var(--border-radius);
}

.tool-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tool-content > * {
    margin: 0;
}

.tool-content h3 {
    font-size: 1.5rem;
}

.tool-content > .button {
    margin-block-start: 0.5rem;
}

@media (max-width: 800px) {
    .tool-info {
        grid-template-columns: 1fr;
    }
}

/* Error Page */

.error-page {
    text-align: center;
}

.error-page h1 {
    margin-block: 1rem;
}

/* Text Only Page */

.text-only-page {
    max-width: 600px;
    margin-inline: auto;
}

/* Common Elements */

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-highlight);
}

h2 {
    margin-block-start: 2rem;
    margin-block-end: 0.5rem;
}

a {
    color: var(--color-text-accent);
    text-underline-offset: 0.125em;
}

a:hover {
    color: var(--color-text-accent-highlight);
}

a:active {
    color: var(--color-text-accent-muted);
}

hr {
    border: none;
    border-top: 1px solid var(--color-border);
    margin: 1rem 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Buttons */

a.button, a.button:hover, a.button:active {
    text-decoration: none;
}

button, .button {
    --button-color-text: var(--color-text);
    --button-color-text-hover: var(--color-text-highlight);
    --button-color-text-active: var(--color-text-muted);

    --button-color-bg: var(--color-bg);
    --button-color-bg-hover: var(--color-bg);
    --button-color-bg-active: var(--color-bg);

    --button-color-border: var(--color-border);
    --button-color-border-hover: var(--color-border-highlight);
    --button-color-border-active: var(--color-border);

    background-color: var(--button-color-bg);
    color: var(--button-color-text);
    border: 1px solid var(--button-color-border);

    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    border-radius: var(--border-radius);
    text-align: center;
    transition-property: color, background-color, border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-sizing: border-box;
    touch-action: manipulation;
}

button:hover, .button:hover {
    color: var(--button-color-text-hover);
    background-color: var(--button-color-bg-hover);
    border-color: var(--button-color-border-hover);
}

button:active, .button:active {
    border-color: var(--button-color-border-active);
    background-color: var(--button-color-bg-active);    
    color: var(--button-color-text-active);
}

button:disabled, .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

button.icon-only-button, .button.icon-only-button {
    --button-color-text: var(--color-text);
    --button-color-text-hover: var(--color-text-highlight);
    --button-color-text-active: var(--color-text-muted);

    --button-color-bg: transparent;
    --button-color-bg-hover: transparent;
    --button-color-bg-active: transparent;

    --button-color-border: transparent;
    --button-color-border-hover: transparent;
    --button-color-border-active: transparent;

    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
}

button.primary, .button.primary {
    --button-color-text: var(--color-text-highlight-dark);
    --button-color-text-hover: var(--color-text-highlight-dark);
    --button-color-text-active: var(--color-text-highlight-dark);

    --button-color-bg: var(--color-primary);
    --button-color-bg-hover: var(--color-primary-highlight);
    --button-color-bg-active: var(--color-primary-muted);

    --button-color-border: var(--color-primary);
    --button-color-border-hover: var(--color-primary-highlight);
    --button-color-border-active: var(--color-primary-muted);
}

/* Text */

.text-subtle {
    color: var(--color-text-muted);
    font-size: 0.875rem;
    letter-spacing: 1px;
}

/* Cards */

.card-group {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 1rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
}

.card-group.all-cards {
    margin-block-start: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    text-decoration: none;
    color: var(--color-text);
}

.card > * {
    margin: 0;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.card h3 .icon {
    color: var(--color-text-accent);
    font-size: 1.5em;
    vertical-align: bottom;
}

a.card:hover {
    color: var(--color-text-highlight);
    border-color: var(--color-border-highlight);
}

a.card:active {
    color: var(--color-text-muted);
    border-color: var(--color-border);
}

/* Utilities */

.card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 40 / 21;
}
